txData/QBCoreFramework_413BF7.base/cache/*
txData/QBCoreFramework_413BF7.base/resources/[vehicles]/*
txData/QBCoreFramework_413BF7.base/resources/[maps]/*
txData/default/logs/*
*.yft
*.ytd
*.ydr
*.awc
*.meta
*.dat151
*.rel
*.nametable
*.dat54
*.ymf
*.ynv
*.ymap
*.dat10
*.ycd
*.ytyp
*.ybn
*.ydd
*.txt
