body {
    overflow: hidden;
    user-select: none;
    font-weight: 650;
    font-family: 'Lato', sans-serif;
   }
   
   .main-container {
    position: absolute;
    top: -30vh;
    left: 10vw;
    display: none;
   }
   
   .menu-items-container {
    display: none;
    width: 16vw;
    height: 14vh;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 79%);
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
   }
   
   .menu-items-container > p {
    text-align: center;
    padding-top: 1vh;
    color: white;
    font-size: 1.3vh;
   }
   
   .text-input-price {
    margin-top: 0vh;
    margin-left: 2vh;
    width: 21.5vh;
    height: 2.2vh;
    color: white;
    font-size: 1.2vh;
    border-radius: 10px;
    background-color: #3232323b;
   }
   
   .text-input-note {
    margin-top: .5vh;
    margin-left: 2vh;
    width: 21.5vh;
    height: 2.2vh;
    color: white;
    font-size: 1.2vh;
    border-radius: 10px;
    background-color: #3232323b;
   }
   
   .accept-button {
    position: absolute;
    width: 10vh;
    height: 3vh;
    margin-top: 0.5vh;
    margin-left: 2vh;
    border-radius: 10px;
    background-color: #0263d1d3;
   
   }
   
   .cancel-button {
    position: absolute;
    width: 10vh;
    left: 1vh;
    height: 3vh;
    margin-top: 0.5vh;
    margin-left: 13vh;
    border-radius: 10px;
    background-color: #c02b2bd3;
   
   }
   
   .accept-button > p, .cancel-button > p {
    text-align: center;
    font-size: 0.9vh;
    color: white;
   }
   
   .accept-button:hover {
    background-color:  #00b106d3;
   }
   
   .cancel-button:hover {
    background-color: #eb3434d3; 
   }
   
   .payment-container {
    display: none;
    overflow-x: auto;                  
    overflow-y: auto;
    width: 15.2vw;
    height: 20vh;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 79%);
   }
   
   .payment {
    position: relative;
    left: 1vh;
    top: 0.85vh;
    width: 14vw;
    height: 3.5vh;
    margin-top: 1vh;
    border-radius: 10px;
    background-color: #545456;
   }
   
   .payment:hover {
    background-color: #00b106d3;
   }
   
   .payment > p {
    font-size: 1.1vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.2vh;
    padding-left: 0.5vh;
    color: white;
   }
   
   .close-button {
    font-size: 1.2vh;
    width: 0.7vw;
    height: 1.5vh;
    background-color: #c02b2bd3;
    position: absolute;
    right: 0;
    text-align: center;
    color: white;
   }
   
   .close-button:hover {
    background-color: #eb3434d3; 
   }
   
   ::-webkit-scrollbar-track {
    background-color: transparent;
   }
     
   ::-webkit-scrollbar{
    width: 0.5vh;
    background-color: transparent;
   }
     
   ::-webkit-scrollbar-thumb {
    background-color: transparent;
   }